*{
    margin: 0px;
    padding: 0px;
}

body{
    font: 16px/28px arial, sans-serif;
    margin-top: 20px;
    color: rgb(2,49,39);
    text-align: center;
}

.container{
    width: 450px;
    padding: 1% 1%;
    margin: 65px auto;
    background-color: cadetblue;
    border-radius: 10px;
} 

.form{
    margin: 2% 20%;
    padding: 3% 5%;
    width: 50%;
    height: 0%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

.input{
    border-radius: 7px;
}

.submit{
    padding: 5px 5px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
}